<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <style>
    body{
      text-align: center;
    }
    h2{
      color: blueviolet;
      margin-top: 20px;
    }
    
  </style>
  <title>Craete Page</title>
</head>
<body>
    <!-- <h2>Create Players Here</h2><br>
    <form action="/create/" method="POST" style="text-align: center;">{% csrf_token %}
      <label  for="jersyno">Jersy No:</label>
      <input class="inp" type="number" name="jn" placeholder="Enter Jersyno">
      <br>
      <br>
      <label for="pname">Player name:</label>
      <input class="inp" type="text" name="pn" placeholder="Enter Player name">
      <br>
      <br>
      <label for="run">Run:</label>
      <input class="inp" type="number" name="rn" placeholder="enter run">
      <br><br>
      <label for="wickets">Wickets:</label>
      <input class="inp" type="number" name="wkt" placeholder="Enter Wickets">
      <br><br>
      <label for="Team Name">Team Name:</label>
      <input class="inp" type="text" name="tn" placeholder="Enter Team Name">
      <br><br>
      <button type="submit">Save:</button>
    </form> -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>